@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-emerald-600;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  @apply h-4 w-4 bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-emerald-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-emerald-600;
}

::-webkit-scrollbar-corner {
  @apply bg-emerald-600;
}

.slick-dots li button:before {
  content: '' !important;
  @apply !h-2 !w-5 !rounded-full !bg-slate-800/50;
}
